
:root{
    --primario: #7ABE47;
    --secundario: #ffc845;
    --negro: #000000;
    --claro: #ffffff;
    --gris: #eeeeee;
    --oscuro: #57a42b;
    --padding: 1rem;
    --padding2: 2rem;

}

a{
    padding: 0;
}
html{
    box-sizing: border-box;
}
body{
    background-color: var(--gris);
    font-family: 'Roboto', sans-serif;
}



.header{
    margin-top: 2rem;
    background-color: var(--primario);
    padding: var(--padding);
}

.header .barra{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60%  25%;
    justify-content: space-between;
    align-items: center;
    
}

.header .menu{
    display: grid;
    grid-template-columns:  repeat(3 , 1fr );
    grid-column: 2/3;

}

.header .menu a{
    text-align: center;
    color: var(--claro);
    text-decoration: none;
    font-size: 1.2rem;
}




h1,h2,h3,h4{

    font-weight: 400;
    margin: 1rem 0;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 2rem;
}


p{
    font-size: 1.2rem;
    line-height: 2rem;
}

.nosotros-contenedor{
    max-width: 1100px;
    margin: 0 auto  ;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
    
    
}

.venta-contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

.venta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 1rem;
}



.destacada{
    
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-destacada img{
    object-fit: fill;
}

@media(max-width: 1116px){
    .nosotros-contenedor{
        grid-template-columns: unset;
        justify-items: center;
        text-align: center;
    }

    .venta{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-destacada{
        height: auto;
    }
}

.card{

    background-color: var(--claro);
    padding: var(--padding);
    border: solid 1px rgb(199, 199, 199);
}



.card p{
    font-size: 0.9rem ;
    line-height: 1.8rem;

}
.card .precio{
    font-size: 1.4rem;
    font-weight: 400;
}
.card .precio span{
    color: var(--primario);
}
.anuncio img{
    display: block;
    width: 100%;
}

.card .boton{
    display: block;
    background-color:var(--primario);
    padding: var(--padding);
    text-align: center;
    color: var(--claro);
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px var(--primario);
    transition: all .3s ease-in-out;
}

.boton:hover{
    background-color: var(--claro);
    color: var(--primario);
   
}



.footer{
    background-color: var(--oscuro);
    color: var(--claro);

    padding: 0 10px;
    
}
.footer p{
    font-size: 0.9rem ;
    line-height: 1.8rem;
}

.footer-contenedor{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 25% 40% ;
    padding-top: 30px ;
    padding-bottom: 30px;
    margin-top: 30px;
   
}



.contenedor-casas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;

}

.casa img{
    width: 90%;

}

.casa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    
}

.widget-casas p{
    margin: 0;
}

.widget-navegacion a{
    display: block;
    color: var(--claro);
    text-decoration: none;
    margin-bottom: 16px;
}

.widget-nosotros{
    margin-right: 33px;
}


@media (max-width: 600px){
    .header .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .logo{
        width: 70vw;
    }
    .logo img{
        width: 100%;
    }

    .venta{
        display: flex;
        flex-direction: column;
    }
    .destacada{
        display: flex;
        flex-direction: column;
    }
    .destacada img{
        width: 221px;
    }
    .img-destacada{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
    }

    .footer-contenedor{
        display: flex;
        flex-direction: column;
    }
    .widget-navegacion{
        text-align: center;
    }
    .contenedor-casas{
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 992px){

    .header .barra{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .header .menu {
        gap: 5rem;  
    }

    .widget-nosotros{
        display: none;
    }
    .widget-casas{
        grid-column: 2/4;
    }

}